@media screen and (max-width: 800px){
    .top{
    }
    .top nav{
        display: flex;
        flex-wrap: wrap;
    }
    .kick-img{
        display: none;
    }
    .content-area{
    }
    .contents{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
       }
    .top, .banner{
        display: grid; 
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .highlights, .half-width{
        margin: 0 auto;
        padding: 50px;
    }
    .logo{
        margin-top: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 200px;

    }
}
@media screen and (max-width: 600px) {
    
    .top{
        height: 600px;
    }
    .kick-img{
        display: none;
    }
    .top nav{
        display: flex;
        flex-wrap: wrap;
    }
    .contents{
        display: grid; 
        grid-template-columns: 1fr;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
       }
       .half-width h1{
        font-size: 1em;
    }
    .banner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
       .logo{
           margin-top: 200px;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       .logo img{
           width: 160px;

       }
}